
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/insta.css' />
    <title>Instagram Downloader</title>
</head>
<body>
    <nav>
        <div>
           <h2> Social Media Downloader</h2>
        </div>
    </nav>
    <div class="con">
        <h1><%=type%></h1>
        <img src="<%=img %>" alt="preview" >
        <h5>Title:<%=title%></h5>
        <a href="<%=down%>">Download</a>
        <a href="/">Home</a>
    </div>
</body>
</html>