<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Downloader</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/instagram.css' />
</head>
<body>
    <nav>
        <div>
           <h2> Social Media Downloader</h2>
        </div>
    </nav>
    <div class="con">
    <h1 id="">Only Works on Public Profiles</h1>
    <form action="/insta" method="post">
        <h3>Paste the link below</h3>
        <input type="text" name="link" id="link">
        <button type="submit">Download</button>
    </form>    
    </div>
</body>
</html>