<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Downloader</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap" rel="stylesheet">
  <!-- <link rel='stylesheet' href='/stylesheets/youtube.css' /> -->
</head>
<style>
     * {
    margin: 0;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    background-color: #99c2a2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  nav h2 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
  }

  h1 {
    font: 1.5em 'Roboto Slab', serif;
  }

  .con {
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    width: 100%;
    background-color: #F4D35E;
    height: 89.5vh;
  }

  form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  input {
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
    background: #fbfbfb;
    border: 2px solid transparent;
    height: 36px;
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);

    :focus {
      border: 2px solid #000;
      border-radius: 4px;
    }
  }

  button {
    margin-top: 10px;
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    text-decoration: none;
  }

  @media only screen and (max-width: 600px) {
    nav h2 {
      font-size: 2rem;
    }
  }
</style>
<body>
    <nav>
        <div>
          <h2> Social Media Downloader</h2>
        </div>
      </nav>
      <div class="con">
        <h1 id="">Youtube mp3 And mp4 Downloader</h1>
        <form action="/ytdown" method="post">
          <h3>Paste the link below</h3>
          <input type="text" name="link" id="link">
          <!-- <label for="mp3">Mp3</label>
          <input type="radio" name="format" id="mp3" value="mp3">
          <label for="mp4">Mp4</label>
          <input type="radio" name="format" id="mp4" value="mp4"> -->
          <button type="submit">Download</button>
        </form>
      </div>
</body>
</html>