<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Downloader</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap" rel="stylesheet">
  <!-- <link rel='stylesheet' href='/stylesheets/ytdwon.css' /> -->
</head>
<body>
    <nav>
        <div>
          <h2> Social Media Downloader</h2>
        </div>
      </nav>
      <div class="con">
        Coming soon
        <a href="/">Home</a>
      </div>
</body>
</html>